*
**/__pycache__/

!.bash_aliases
!.bash_logout
!.basrc
!.dconf
!.gitconfig
!.gitignore
!.install
!.profile

!.scripts/
!.scripts/*

!.local/
!.local/bin/
!.local/bin/*
!.local/share/
!.local/share/gnome-shell/
!.local/share/gnome-shell/extensions/
!.local/share/gnome-shell/extensions/*

!.config/
!.config/autostart/
!.config/autostart/*

!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/*

!labophase_issues.py
