*

!.bash_aliases
!.bash_logout
!.basrc
!.dconf
!.gitconfig
!.gitignore
!.install
!.profile

!.scripts/
!.scripts/*

!.local/
!.local/bin/
!.local/bin/*

!.config/
!.config/autostart/
!.config/autostart/*

!labophase_issues.txt
